/*@font-face {
  font-family:"Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: url(" 'Josefin Sans', sans-serif");
}
@font-face {
  font-family:"Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: url("'Lora', serif");
}
@font-face {
  font-family:"Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/poppins-SemiBold.ttf");
}
@font-face {
  font-family:"Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/poppins-Bold.ttf");
}
@font-face {
  font-family:"Poppins ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/poppins-ExtraBold.ttf");
}
@font-face {
  font-family:"poppins Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/poppins-Thin.ttf");
}
@font-face {
  font-family:"poppins Light";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/poppins-Light.ttf");
}*/
*{
  outline: none;
}
body{
  margin: 0;
  overflow-y: overlay;
font-family: "'Lora', serif;";
}
code{
  font-family: 'Courier New', Courier, monospace;
}
::-webkit-scrollbar{
  width: 6px! important;
  height: 6px!important;
}
body::-webkit-scrollbar-thumb{
  background-color: hsla(0, 0%, 100%, 0.16);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0,0,0.2);
}
::-webkit-scrollbar-track{
  background: hsla(0, 0%, 100%, 0.1s);
}
.btn{
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family:  'Varela Round', sans-serif;
}
.btn:active{
  transform: translateY(2px);
}
.primary-btn{
  color: var(--white);
  border: 2px solid linen;
  font-size: 12px;
  background-color: darkgrey;
}
.primary-btn:hover{
  color: aliceblue;
  border: 2px solid #ff5823;
  background-color: #1f2235;
}
.highlighted-btn{
  color: var(--white);
  font-size: 12px;
  background-color: #ff5823;
}

@media  only screen and (max-width:600px) {
  .highlighted-btn{
    background-color: #23ff40;
  }
  
}
.red-border{
  border: 1px solid var(--error-message) !important;
}

